<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
    <div class="thumbnail {classe} " style="background-color:#EEEEEE; height:360px;">
        <h3><a href="{imovel_link}" title="{imovel_titulo}">{imovel_titulo}</a></h3>
        <center>
            <a href="{imovel_link}" title="{imovel_titulo}">
                <img class="img-responsive" style="width:200px; height:200px;" width="200" height="200" src="{image_principal}" alt="{image_descricao}" style="width:300px; height:200px;">
            </a>
        </center>
        <div class="caption" style="height: 100px;" >
            <h4><strong>{imoveis_tipos_titulo}</strong></h4>
            <h5><strong>{bairro_titulo}</strong></h5>
            <p class="border-bottom">{cidade_titulo}</p>
            <a style="position:absolute; bottom:10px; right:40px; padding:2px; " href="{imovel_link}" class="btn btn-primary pull-right">Mais detalhes</a>
        </div>
    </div>
</div>
<div class="btn-group">
    <br>
    <center>
        <a href="{relacionado_link}" class="btn btn-default">Veja mais: {relacionado_titulo}</a>
    </center>
</div>